# Ambiente virtual
venv/
.env/

# Cache do Python
__pycache__/
*.pyc

# Configurações do VS Code
.vscode/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db


#Nova atualização flask1
venv/
__pycache__/
*.pyc
.env
.flaskenv
